@model Web_MVC.Models.Article
@{
    ViewBag.Title = Model.ArticleName;
}

@Html.Partial("_Article", Model)

@Html.Partial("_ArticleControls", Model)

<div id="disqus_thread"></div>
<script type="text/javascript">
    var disqus_shortname = 'localhost-50000';
    var disqus_identifier = '@Model.ArticleId';
    var disqus_url = '@("http://localhost:50000/Articles/Details/" + Model.ArticleId)';
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
@*<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>*@
